{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Base Template{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <section class="user-profile" id="user-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-wrapper">
                        <img src="{{request.user.profile.pro_img.url}}" alt="user-image">
                    </div>

                    <a class="btn btn-primary mt-5" href="{% url 'log_out' %}">logout</a>
                    <a class="btn btn-primary mt-5" href="{% url 'password_change' %}">change password</a>
                    <a class="btn btn-primary mt-5" href="{% url 'editprofile' %}">edit profile</a>

                    {% block admin %}{% endblock admin %}
                    {% block user %}{% endblock user %}

                </div>

                <div class="col-lg-6 details">
                    <div class="name">
                        <h1>Name: <strong>{{request.user.profile.name}}</strong></h1>
                    </div>
                    <div class="email">
                        <h1>Email: <strong>{{request.user.profile.email}}</strong></h1>
                    </div>
                    <div class="gender">
                        <h1>Gender: <strong>{{request.user.profile.gender}}</strong></h1>
                    </div>
                    <div class="bio">
                        <h1>Bio: <strong>{{request.user.profile.bio}}</strong></h1>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>